@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    position: sticky;
    top: 0;
    background-color: #00000081;
    z-index: 100;
    font-family: 'Orbitron', sans-serif;
}

/* Logo Styling */
.logo h1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-grow: 1; */
    color: #5e41c5;
}

/* Hamburger Menu Styling */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 20px;
    height: 25px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
    margin-left: auto; /* Ensures it aligns to the right */
}

.hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
/* Navbar hidden by default on small screens */
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    transition: max-height 0.3s ease-in-out;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}
/* Navbar Styling */
.navbar .nav-list {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.navbar .nav-list li {
    font-size: 1rem;
    text-transform: uppercase;
}

.navbar .nav-list li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.navbar .nav-list li a:hover {
    color:#5e41c5; /* Accent hover color */
}
/* Hidden on small devices */
.navbar.hidden {
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
}

.navbar ul.hidden {
    display: none;
}


/* CTA Button */
.cta-buttons .btn , .btn{
    background-color:#5e41c5;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.cta-buttons .btn:hover {
    background-color:#9b4d96; /* Darker accent color on hover */
}

/* Show hamburger menu on small screens */

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: radial-gradient(circle at center, #1c095f, #0a0133, #000000);
}

.highlight {
    color:#5e41c5; /* A bold, eye-catching purple to match the galaxy theme */
    background: linear-gradient(45deg,  #1d076c, #972cd8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Creates a gradient text effect */
    font-weight: bold; /* Emphasizes the name */
    padding: 5px;
    border-radius: 5px; /* Slightly rounds corners */
    display: inline-block; /* Ensures proper padding appearance */
    animation: glow 3s infinite; /* Adds a subtle glowing animation */
}

/* Keyframes for the glow animation */
@keyframes glow {
    0% {
        text-shadow: 0 0 0px#5e41c5, 
                     0 0 2.5px #5e41c5;
    }
    50% {
        text-shadow: 0 0 2.5px#5e41c5, 
                     0 0 5px rgba(150, 113, 163, 0.59);
    }
    100% {
        text-shadow: 0 0 0px#5e41c5, 
                     0 0 2.5px rgba(161, 112, 179, 0.552);
    }
}
.highlight2 {
    font-size: 24.5px;
    color:#5e41c5;
    animation: glowy 3s infinite; 
}

/* Keyframes for the glow animation */
@keyframes glowy {
    0% {
        text-shadow: 0 0 0px #543a9c, 
                     0 0 2px #685a9e7c;
    }
    50% {
        text-shadow: 0 0 2px #543a9c, 
                     0 0 4px #5e4f947a;
    }
    100% {
        text-shadow: 0 0 0px #543a9c, 
                     0 0 2px #665a9181;
    }
}
.hero-section {
    position: relative;
    height: 90vh;
    color: #bdbdbd;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content {
    max-width: 700px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    margin: 10px 0;
    line-height: 1.6;
}

.hero-content .cta-buttons {
    margin-top: 20px;
}

.hero-content .btn.outline {
    background: transparent;
    border: 2px solid #5e41c5;
    color: #5e41c5;
    margin-left: 10px;
}

.hero-content .btn.outline:hover {
    background: #5e41c5;
    color: #bdbdbd;
}

#intro-paragraph {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 0;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 2rem 1.5rem 2rem 0;
    transition: 0.3s ease-in-out;
}.social-icons a:hover{
    color: var(--text-color);
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}

/* About Section */
.about-section, .projects-section, .contact-section {
    padding: 60px 40px;
    text-align: center;
    color: #bdbdbd;
}

.about-section h2, .projects-section h2, .contact-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-section {
    padding: 60px;
    text-align: center;
    background: url('space-background.jpg') no-repeat center center/cover;
    color: #bdbdbd;
    position: relative;
    overflow: hidden;
    height: 150vh;
}

.about-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.about-content {
    position: relative;
    z-index: 2;
}

.about-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(225, 198, 255, 0.7);
    animation: floating 5s ease-in-out infinite;
}

@keyframes floating {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

.about-content2 {
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
}

.about-myself, .about-skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content at the top */
}

.about-myself {
    flex: 70%;
}

.about-skills {
    flex: 30%;
    text-align: left;
}

.about-content2 h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-content2 p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: justify;
}

.about-myself h2, .about-skills h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #6747dd;
}

.about-myself p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}



.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-container {
    margin-bottom: 20px;
}

.about-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #6747dd;
    object-fit: cover;
}

.about-intro {
    font-size: 1.2rem;
    margin: 20px 0;
    color: #fff;
    text-align: justify;
}

.education h2,
.about-skills h2 {
    margin-bottom: 20px;
    color: #6747dd;
    display: flex;
    align-items: center; /* Align the heading vertically */
    justify-content: flex-start; /* Align to the left */
}

.timeline {
    position: relative;
    padding-left: 40px;
    margin-top: 20px;
    border-left: 2px solid #6747dd;
}

.timeline-item {
    position: relative;
    margin-bottom: 20px;
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: -7px;
    width: 14px;
    height: 14px;
    background-color: #6747dd;
    border: 3px solid #fff;
    border-radius: 50%;
    z-index: 1;
}

.timeline-content {
    margin-left: 20px;
    padding: 10px 15px;
    background-color: rgba(103, 71, 221, 0.1);
    border-radius: 8px;
    color: #fff;
}

.timeline-content h4 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #6747dd;
    text-align: left;
}

.timeline-content p {
    margin: 0;
    font-size: 1rem;
    text-align: left;
}

.timeline-content .year {
    text-align: left;
    font-size: 0.9rem;
    font-weight: bold;
    color: #aaa;
}

.timeline-content .highlight {
    color: #d4a5ff;
    font-weight: bold;
}

.about-skills ul {
    list-style: none;
    padding: 0;
}

.about-skills li {
    margin-bottom: 15px;
}

.skill-name {
    font-size: 1.1rem;
    color: #b9b7c0;
}

.skill-bar {
    background-color: #333;
    border-radius: 5px;
    height: 8px;
    overflow: hidden;
    margin-top: 5px;
}

.progress {
    height: 100%;
    background-color: #7a5ce4;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    .about-photo {
        width: 120px;
        height: 120px;
    }

    .about-content2 {
        flex-direction: column;
        gap: 20px;
    }

    .about-myself, .about-skills {
        flex: 100%;
    }
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
    .about-photo {
        width: 120px;
        height: 120px;
    }

    .about-content2 {
        flex-direction: column;
        gap: 20px;
    }

    .about-myself, .about-skills {
        flex: 100%;
    }

    .about-myself h2, .about-skills h2 {
        font-size: 2rem;
    }

    .about-myself p, .education p {
        font-size: 1.1rem;
    }

    .timeline-content h4 {
        font-size: 1.1rem;
    }

    .skill-bar {
        height: 6px;
    }
}

@media only screen and (max-width: 480px) {
    .about-section {
        padding: 30px;
        height: 100vh;
    }

    .about-photo {
        width: 100px;
        height: 100px;
    }

    .about-intro {
        font-size: 1rem;
    }

    .about-content2 {
        gap: 10px;
    }

    .about-myself, .about-skills {
        flex: 100%;
    }

    .about-myself p {
        font-size: 1rem;
    }

    .timeline-content p {
        font-size: 0.9rem;
    }
}

  

/* Projects Section */
.projects-section {
    padding: 60px 40px;
    text-align: center;
    color: #bdbdbd;
  }
  
  .projects-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .projects-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .project-card {
    perspective: 1000px;
    width: 300px;
    height: 400px;
  }
  
  .card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .project-card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);
  }
  
  .card-front {
    background: #1a1a1a4f;
  }
  
  .card-front .project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .project-info {
    padding: 10px 0;
  }
  
  .project-info h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
  
  .project-info p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .card-back {
    background: #2a2a2a7c;
    transform: rotateY(180deg);
    padding: 20px;
    text-align: left;
  }
  
  .card-back p {
    font-size: 1rem;
  }
  
  .github-link {
    color: #5e41c5;
    text-decoration: none;
    font-size: 1.2rem;
    display: inline-block;
    margin-top: 10px;
  }
  
  .github-link:hover {
    color: #9b4d96;
  }
  
  .view-more {
    background-color: #5e41c5;
    color: #bdbdbd;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .view-more:hover {
    background-color: #9b4d96;
  }
  

/* Contact Form */
form input, form textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

form button {
    width: 100%;
}

/* Footer */
.footer {
    padding: 10px 0;
    text-align: center;
    background: #0a0a0a7a;
    color: #bdbdbd;
    font-size: 0.9rem;
}
section {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    height: 100vh;
}

section.visible {
    opacity: 1;
}

.hero-section {
    opacity: 1; /* Hero section is always visible */
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #0a0133;
    transition: color 0.5s ease;
}
.footer .social a{
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
.footer .social a:hover{
    transform: scale(1.2) translateY(-10px);
    background-color: var(--main-color);
    color: #000;
    box-shadow: 0 0 25px var(--main-color);
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: #6c4dda;
    border-bottom: 2px solid transparent;
    transition: 0.3s ease-in-out;
    font-weight: 700;
}
.footer ul li a:hover{
    border-bottom: 2px solid var(--main-color);
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    padding: 20px;
    text-align: center;
    font-size: 16px;
    color: white;
    transition:color 0.5s ease;
}

@media only screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        margin-top: 10px;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 0.9rem;
    }

    /* Project Cards */
    .project-card {
        text-align: center;
    }
    .hamburger {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        background: rgba(0, 0, 0, 0.298);
        padding: 10px;
        max-height: 0;
        width: 150px;
        border-radius: 8px;
        overflow: hidden;
    }

    .navbar ul {
        flex-direction: column;
        gap: 10px;
    }

    .navbar.show {
        max-height: 300px;
    }
    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-image img {
        max-width: 80%; /* Reduce size on smaller screens */
        margin: 0 auto; /* Center align */
    }

    .about-text {
        text-align: center;
    }
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 20px;
    }

    .navbar .nav-list {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .navbar .nav-list li {
        margin: 10px 0;
    }

    .cta-buttons .btn {
        margin-top: 20px;
    }
    .projects-container {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 480px) {

    /* Hero Section */
    .hero-content h1 {
        font-size: 1.8rem;
    }

    .hero-content p {
        font-size: 0.8rem;
    }

    /* Footer */
    .footer {
        font-size: 0.7rem;
    }
}


